.ResultDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 20rem;
  height: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: var(--bg-color-white);
  border-radius: 5px;
  color: var(--font-color-black);
  transform: translate(-50%, -50%);
}

.ResultDisplay:focus {
  outline: none;
}

.Icon {
  font-size: 5rem;
}

.Text {
  text-align: center;
}
