.InputForm {
  display: flex;
  border: 1px solid var(bg-color-dark);
  border-radius: 5px;
}

.TextInput {
  flex-grow: 2;
  padding: 0 1rem;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.TextInput:focus {
  outline: none;
}

.Button {
  min-width: 10rem;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--bg-color-light);
  border-radius: 0px 5px 5px 0px;
  color: var(--font-color-light);
  cursor: pointer;
}

.Button:focus {
  outline: none;
}
